@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    overflow: hidden;
}

body {
    background-color: black;
    animation-name: appearance; animation-duration: 3s; animation-fill-mode: forwards; animation-timing-function: cubic-bezier();
    opacity: 0;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.first {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
}

.second {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -198%);
    opacity: 0;
    transition: .5s;
}

.second_info, .btm_engines_info, .tank_info, .head_info, .head_engine_info {
    opacity: 0;
    color: white;
    position: absolute;
    background-color: #000000;
    border-left: solid .1vh #ffffff;
    width: 30vw;
    left: 5vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 3vh;
    transition: .4s;
}

.second:hover ~ .second_info {
    opacity: 1;
}

.second:hover, .second:hover ~ .second_info * {
    opacity: 1;
    transition-delay: 0;
}

.btm_engines {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, 1150%);
    opacity: 0;
    transition: .5s;
}

.btm_engines_back {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, 1150%);
    opacity: 1;
    z-index: -100;
}

.btm_engines:hover ~ .btm_engines_info {
    opacity: 1;
}

.btm_engines:hover {
    opacity: 1;
}

.tank {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -30%);
    opacity: 0;
    transition: .5s;
}

.tank:hover ~ .tank_info {
    opacity: 1;
}

.tank:hover {
    opacity: 1;
}

.head {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -638%);
    opacity: 0;
    transition: .5s;
}

.head:hover ~ .head_info {
    opacity: 1;
}

.head:hover {
    opacity: 1;
}

.head_engine {
    width: 6.5vh;
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -323%);
    opacity: 0;
    transition: .5s;
}

.head_engine:hover ~ .head_engine_info {
    opacity: 1;
}

.head_engine:hover {
    opacity: 1;
}

.manage {
    width: 35vh;
    height: 35vh;
    background-color: #2e2e2e;
    color: white;
    border-radius: 1vh;
    padding: 3vh;
    position: absolute;
    top: 50%; transform: translateY(-50%); right: 5vh;
    cursor: default;
}

.manage h2 {
    margin-bottom: 3vh;
    cursor: default;
}

.password {
    border: none;
    padding: 1vh;
    width: 80%;
    margin-top: 1vh;
    border-radius: .5vh;
    outline: none;
    background-color: #4b4b4b;
    color: white;
    cursor: default;
}

.corr_password {
    color: #8bff87;
    animation-name: bye;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: default;
}

@keyframes bye {
    0% {
        opacity: 1;
        position: static;
    }
    95% {
        opacity: 0;
        position: static;
    }
    100% {
        opacity: 0;
        position: absolute;
    }
}

.m_hide {
    animation-name: bye2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: default;
}

.m_hide * {
    cursor: default;
}

@keyframes bye2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hide {
    opacity: 0;
    cursor: default;
}

.hide * {
    cursor: default;
}

.err {
    /* margin-top: -5vh; */
    opacity: 0;
    animation-name: hi;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    cursor: text;
    z-index: 100;
}

@keyframes hi {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.code {
    margin-top: 1vh;
    width: 90%;
    resize: none;
    background-color: transparent;
    border: none;
    height: 20vh;
    outline: none;
    color: #8fffdd;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    /* cursor: default; */
}

.refresh_btn {
    position: absolute;
    top: 50%; transform: translateY(-50%); right: 15vh;
    border: none;
    padding: 2vh 3vh;
    border-radius: 1vh;
    background-color:  #ffcf48;
    color: #000000;
    cursor: pointer;
    width: 20vh;
    font-weight: 800;
    font-size: 12pt;
    animation-name: hi;
    animation-duration: 1s;
}

.refresh_btn_active {
    animation-name: color_fill;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

@keyframes color_fill {
    0% {
        background: linear-gradient(to left, #ffcf48 50%, #2ad100 50%) right;
        background-size: 200% 100%;
        background-position: right;
    }
    100% {
        background: linear-gradient(to left, #ffcf48 50%, #2ad100 50%) right;
        background-size: 200% 100%;
        background-position: left;
    }
}

.mobile {
    color: white;
    padding: 7vh 5vh;
    font-size: 30pt;
}